/* .todo-header{
    display: flex;
    flex-direction: column;
    align-items: start
;
} */
.logo-mercado-liebre {
    width: 50%; 
    margin: 0;
}

.logo-Y-Busqueda{
    display: flex;
    flex-direction: column;

}
.input-busqueda{
    width: 200px;
}

.boton-lupa{
    display: flex;
    width:25px;
    height:25px;
    .fa-magnifying-glass{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
    }
}

.fa-credit-card {
    font-size: 14px; 
}


.header_nav {
    display: none; 
    
}

.burgerButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.fa-bars {
    width: 2em;
    height: 25px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    background-color: #1259c3;
    color: #fff;
}

@media(min-width:768px){
   .header_nav {
    display: block 

}
.burgerButton {
    display: none;
}
}
@media(min-width:1024px){
    
}
