
.header_div_tarjeta_de_credito{
    display: inline-block;
    
}



.logo-barra-h3{
    width: 100%;
}



.logo img{
    width: 100%; 
}


.nav-ul-li{
    text-decoration: none;
}


.iconoDeBusqueda{
    display: flex;
    
}


.headerDivTop{
    display: flex;
}

.burgerButton{
    align-items: center;
}