@import url(home.css);
@import url(header.css);
@import url(footer.css);
@import url(login.css);
@import url(register.css);



* {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    font-size: 12;
}

body {
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    width: 100%;

}
header { 
    background-color: #EAC926;


}

main {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}


footer {
    background-color: white;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

p {
    font-size: 12;
}

h2 {
    font-size: 24;
}

h3{font-size: 16px;

}

h4 {
    display: flex;
    justify-content: center;
}
li{
    display: flex;
    
    
}
a{
    color : #03264C;
    text-decoration: none;
}